@use '../abstracts/variables';

/* Header */

#header {
  padding-top: 40px;
  border-bottom: 1px solid variables.$color-border;
}

#logo {
  color: #333;
  font-size: 2.5em;

  img {
    max-height: 64px;
  }
}

.description {
  margin: 0.6em 0 0.7em 0;
  color: variables.$color-muted;
}
