@use '../abstracts/variables';

/* Navigation */

#nav-menu {
  margin: 7px 0 0;
  padding: 0;
  a {
    display: inline-block;
    padding: 4px 0;
    border: none;
    height: auto;
    line-height: normal;
    color: variables.$color-text;
    float: none;
    margin-right: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      background: none;
    }
  }

  /* 当前页面：加粗 + 下划线 */
  .current {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 2px;
    background: none;
  }
}
