// PrismJS - Replicon Override (SCSS partial)

$prism-code-font: var(--prism-code) !default;
$prism-font-size: 0.92em !default;
$prism-border-color: #eee !default;
$prism-bg-1: #ffffff !default;
$prism-bg-2: #f8f8f8 !default;
$prism-red: #b94a48 !default;
$prism-brown: #a67f59 !default;
$prism-blue: #365cbb !default;
$prism-toolbar-bg: #ffffff !default;
$prism-toolbar-shadow: 0 0 7px #e8e8e8 !default;

code[class*="language-"],
pre[class*="language-"] {
  font-family: $prism-code-font;
  font-size: $prism-font-size;
}

pre[class*="language-"] > code {
  border-left: 10px solid $prism-border-color;
  box-shadow: -1px 0 0 0 $prism-border-color, 0 0 0 1px $prism-border-color;
  background-color: $prism-bg-1;
  background-image: linear-gradient(transparent 50%, $prism-bg-2 50%);
}

:not(pre) > code[class*="language-"] {
  color: $prism-red;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  display: none !important;
}

/* Tokens */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted { color: $prism-red; }

.token.operator,
.token.entity,
.token.url,
.token.variable { color: $prism-brown; background: none; }

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name { color: $prism-blue; }

.language-css .token.string,
.style .token.string { color: $prism-red; background: none; }

/* Toolbar */
div.code-toolbar > .toolbar { transition: none; }

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  font-size: 0.87em;
  padding: 2px .5em;
  margin-top: 4px;
  margin-right: 4px;
  background: $prism-toolbar-bg;
  box-shadow: $prism-toolbar-shadow;
  border-radius: 0;
}

/* Line-numbers */
.line-numbers .line-numbers-rows { border-right: 0; }