/* Search */

#search {
  position: relative;
  margin-top: 15px;

  input {
    padding-right: 30px;
  }

  button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background: transparent url(../img/icon-search.png) no-repeat center center;
    direction: ltr;
    text-indent: -9999em;
    cursor: pointer;
  }
}

/* Retina icon */
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #search button {
    background-image: url(../img/icon-search@2x.png);
    background-size: 24px 24px;
  }
}
