@use '../abstracts/variables';

/* Basic helper classes */

.hidden {
  display: none !important;
  visibility: hidden;
}

.sr-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.invisible {
  visibility: hidden;
}

html {
  /* 网格小方格大小 */
  background-size: 7px 7px;
  background-color: variables.$color-bg-light;

  /* 网格线颜色（黑色 4% 透明度） */
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.04) 1px, transparent 1px);
}
