@use '../abstracts/variables';

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-serif;
  font-weight: bold;
  scroll-margin-top: 0.75em;
  a {
    color: inherit;     // 让链接继承标题颜色
    text-decoration: none;

    &:hover {
      color: var(--heading-hover-color, inherit);
    }
  }
}

/* ------------------
 * Font
 * --------------- */
@import url(https://fonts.loli.net/css2?family=Noto+Serif+SC:wght@400;700&display=swap);
@font-face {
  font-family: "JetBrains Mono NL";
  font-display: swap;
  src:
    local("JetBrains Mono NL"),
    local("JetBrainsMonoNL"),
    local("JetBrainsMono NL"),
    local("JetBrains Mono NL Regular"),
    url("../fonts/JetBrainsMonoNL/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono NL";
  font-display: swap;
  src:
    local("JetBrains Mono NL"),
    local("JetBrainsMonoNL"),
    local("JetBrainsMono NL"),
    local("JetBrains Mono NL Regular Italic"),
    url("../fonts/JetBrainsMonoNL/JetBrainsMonoNL-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono NL";
  font-display: swap;
  src:
    local("JetBrains Mono NL"),
    local("JetBrainsMonoNL"),
    local("JetBrainsMono NL"),
    local("JetBrains Mono NL Bold"),
    url("../fonts/JetBrainsMonoNL/JetBrainsMonoNL-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono NL";
  font-display: swap;
  src:
    local("JetBrains Mono NL"),
    local("JetBrainsMonoNL"),
    local("JetBrainsMono NL"),
    local("JetBrains Mono NL Bold Italic"),
    url("../fonts/JetBrainsMonoNL/JetBrainsMonoNL-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "LXGW Wenkai Screen";
  font-display: swap;
  src:
    local("LXGW Wenkai Screen"),
    local("LXGWWenKaiScreen"),
    local("霞鹜文楷屏幕阅读版"),
    url("../fonts/LXGWWenKaiScreen/LXGWWenKaiScreen.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --serif: "Noto Serif SC", serif;
  --code: "JetBrains Mono NL", Consolas, Monaco, "LXGW Wenkai Screen", "Lucida Console", "Courier New", monospace;
  --prism-code: "JetBrains Mono NL", Consolas, Monaco, "LXGW Wenkai Screen", "Lucida Console", "Courier New", monospace;
}
