@use '../abstracts/variables';

/* Posts */

.post {
  padding: 15px 0 20px;
  border-bottom: 1px solid variables.$color-border;
}

.post-title {
  margin: .83em 0 1em 0;
  font-size: 1.4em;
}

.post-meta {
  margin-top: -0.5em;
  color: variables.$color-muted;
  font-size: .9em;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid variables.$color-border;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border: none;
    }
  }
}

.post-content {
  line-height: 1.5;
}

.post .tags {
  clear: both;
}

.archive-title {
  margin: 1em 0 -1em;
  padding-top: 20px;
  color: variables.$color-muted;
  font-size: 1em;
}

.post-near {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  color: variables.$color-muted;

  li {
    margin: 10px 0;
  }
}

.more {
  text-align: center;

  a {
    border: none;
  }
}

.protected .text {
  width: 50%;
}
